[Desktop Entry]
Type=Application
Name=TriliumNext Notes
Comment=Build your personal knowledge base
Icon=com.github.triliumnext.trilium
Exec=trilium
Categories=Office
Terminal=false
StartupWMClass=TriliumNext Notes
